<div class="container flex" style="height: 50vh">
  <div class="row p-4 w-100 h-100">
    <div class="col-9">
      <p class="dateTitle">
        {{ date }}
      </p>
      <div id="map" class="w-100 h-100"></div>
    </div>
    <div class="col-3 d-flex flex-column">
      <p>Congestion Legend:</p>
      <div>
        <div class="myBox redLegend"></div>
        High
      </div>
      <div>
        <div class="myBox orangeLegend"></div>
        Med
      </div>
      <div>
        <div class="myBox yellowLegend"></div>
        Low
      </div>
      <div>
        <div class="myBox greenLegend"></div>
        No
      </div>
    </div>
  </div>
  <div class="row">
    <app-slider (newTime)="onChange($event)"></app-slider>
  </div>
</div>
