<div class="container flex" style="height: 50vh">
  <div class="row mapRow w-100 h-100" style="margin-top:24px;">
    <div class="col-9">
      <div style="display: inline-flex;">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="dateSelected">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div style="display:flex;">
        <h2 style="padding-left: 32px;">Select Time</h2>
          <div class="row" style=" width: 800px;">
            <app-slider (newTime)="onChange($event)"></app-slider>
          </div>
  
      </div>
    </div>
      
      <div id="map" class="w-100 h-100"></div>
    </div>
    <div class="col-3 d-flex flex-column legendContainer" style="padding-top: 40px;">
      <h2>Congestion Legend:</h2>
      <div>
        <div class="myBox redLegend"></div>
        High
      </div>
      <div>
        <div class="myBox orangeLegend"></div>
        Med
      </div>
      <div>
        <div class="myBox yellowLegend"></div>
        Low
      </div>
      <div>
        <div class="myBox greenLegend"></div>
        Healthy
      </div>
    </div>
  </div>

  

  <div style="display:flex; width:100%; margin-top: 16px; column-gap: 16px; border-radius: 8px;">
    
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tuas Terminal Gate 1 <br/> <span style="color:red;">60 Trucks</span> (ETA 40mins)</div>
        <img src="assets/tuas.jpeg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tuas Terminal Gate 2 <br/> <span style="color:red;">70 Trucks</span> (ETA 50mins)</div>
        <img src="assets/tuas.jpeg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tuas Terminal Gate 3 <br/> 40 Trucks (ETA 25mins)</div>
        <img src="assets/tuas.jpeg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
  </div>

  <div style="display:flex; width:100%; margin-top: 16px; column-gap: 16px; border-radius: 8px;">
    
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tanjong Pagar Terminal Gate 1 <br/> <span>10 Trucks</span> (ETA 10mins)</div>
        <img src="assets/tpt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tanjong Pagar Terminal Gate 2 <br/> <span>20 Trucks</span> (ETA 15mins) </div>
        <img src="assets/tpt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Tanjong Pagar Terminal Gate 3 <br/> 30 Trucks (ETA 20mins)</div>
        <img src="assets/tpt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
  </div>

  <div style="display:flex; width:100%; margin-top: 16px; column-gap: 16px; border-radius: 8px;">
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Pasir Panjang Terminal Gate 1 <br/> 30 Trucks (ETA 20mins)</div>
        <img src="assets/ppt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Pasir Panjang Terminal Gate 2 <br/> 20 Trucks (ETA 15mins)</div>
        <img src="assets/ppt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
    <div style="flex: 1;">
      <div>
        <div style="height: 48px; background: #666; font-size: 16px; color:white;">Pasir Panjang Terminal Gate 3 <br/> <span style="color:red;">60 Trucks</span> (ETA 40mins) </div>
        <img src="assets/ppt.jpg" style="width: 100%; height: 300px;"/>
      </div>
    </div>
  </div>

</div>