#map {
  width: 30vw;
  height: 30vh;
}

.myBox {
  float: left;
  height: 2rem;
  width: 2rem;
  margin-bottom: 15px;
  clear: both;
  margin-right: 1.2rem;
}

.redLegend {
  background-color: #f03;
}

.greenLegend {
  background-color: #008000;
}

.yellowLegend {
  background-color: #ffff00;
}

.orangeLegend {
  background-color: #ffa500;
}

.dateTitle {
  font-weight: 700;
  font-size: 20px;
}