<div>
    <div class="timetableHeader">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="valueChange()" [formControl]="dateSelected">
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p class="totalTripsTitle">Total of {{totalTrips}} Trips Today</p>
</div>
<p class="information" (click)="explainModal()">Information <i class="fa fa-info-circle" aria-hidden="true"></i></p>
  <!-- <p>Date: {{dateSelected.value | date: 'MM/dd/yyyy' }}</p> -->
    <div *ngIf="dateFlag; else elseBlock">
        <table class="table">
            <thead>
              <tr class="table-info">
                <th scope="col">Location \ Time</th>
                <th scope="col">7am</th>
                <th scope="col">8am</th>
                <th scope="col">9am</th>
                <th scope="col">10am</th>
                <th scope="col">11am</th>
                <th scope="col">12pm</th>
                <th scope="col">1pm</th>
                <th scope="col">2pm</th>
                <th scope="col">3pm</th>
                <th scope="col">4pm</th>
                <th scope="col">5pm</th>
                <th scope="col">6pm</th>
              </tr>
            </thead>
            <tbody >
                <tr *ngFor="let record of filteredList">
                    <td>{{ record.location  }} 
                        <br>
                        <p>{{record.timeTaken}}</p>
                    </td>
                    <td *ngFor="let job of record.jobDetailList" [class.severe]="job.congestionFlag" [class.cellWithComment]="job.congestionFlag" >
                        <div class="row">
                            <div class="col">
                                <span class="jobTrips">{{job.trips}}</span>
                            </div>
                            <div class="col">
                                <div *ngIf="job.weatherFlag"> 
                                    <i class="fa-solid fa-cloud-bolt"></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <span class="displayTime">{{job.estimatedTime}}</span>
                        <div style="text-align: center;">
                        <span class="cellComment">
                            {{job.congestionTiming}}
                        </span>
                    </div>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
    <ng-template #elseBlock>
        <p>Schedule is not generated yet.</p>
    </ng-template>
  
</div>
