<div style="display:inline-flex; width: 100%; margin-top: 8px;">
    <div style="flex: 1; margin-top: 24px;">
        <mat-form-field style="margin-left: 8px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="dateSelected">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <div style="padding: 0px 8px;">
            <label class="label">Search</label>
            <input style="margin-left: 8px; height: 32px;" (keyup)="search($event)">
            <label class="label">{{filterList.length}} Selected Movements </label>
        </div>
        <!-- <div *ngFor="let item of pendingList; let i = index">
            <div class="item-card">
                <div style="flex-direction: row; justify-content: space-between; width: 100%;">
                <div class="item-content">
                <label class="label">Vehicle Info</label>
                    <span>Number: {{item.vehicle}}</span>
                    <span>Driver: {{item.driver}}</span>
                </div>
                <div class="item-content">
                    <label class="label">Status</label>
                        <span>State: {{item.status}}</span>
                        <span></span>
                    </div>
                <div class="item-content">
                <label class="label">Container Info</label>
                    <span>Number: {{item.container}}</span>
                    <span>Type: {{item.type}}</span>
                </div>
                <div class="item-content">
                    <label class="label">Time</label>
                        <span>{{this.convertDate(item.starttime)}}</span>
                        <span>{{this.convertDate(item.endtime)}}</span>
                    </div>
            </div>
            </div>
        </div> -->
        <div cdkDropList [cdkDropListData]="filterList" class="list" (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let item of filterList; let i = index;" cdkDrag>
                <div class="item-card">
                    <div style="flex-direction: row; justify-content: space-between; width: 100%;">

                        <div style="border: 1px solid black;">
                        <div class="item-content" style="background-color: white;color:black;">
                            <label class="label">Container Info</label>
                            <span>Number: {{item.container}}</span>
                            <span>Type: {{item.type}}</span>
                        </div>
                        <div class="item-content" style="background-color: white;color:black;">
                            <label class="label">Date Time <i (click)="expandItem(i)" style="float: right;"
                                    [ngClass]="item.expand?'fas fa-chevron-up': 'fas fa-chevron-down'"></i></label>
                            <span>{{convertDate(item.starttime)}} </span>
                            <span>{{convertDate(item.endtime)}}</span>
                        </div>
                        <div class="item-content" [hidden]="!item.expand" style="background-color: white;color:black;">
                            <label class="label">Vehicle Info</label>
                            <span>Number: {{item.vehicle}}</span>
                            <span>Driver: {{item.driver}}</span>
                        </div>
                        <div class="item-content" [hidden]="!item.expand" style="background-color: white;color:black;">
                            <label class="label">Location</label>
                            <span>From: {{item.from}}</span>
                            <span>To: {{item.to}}</span>
                            <span></span>
                        </div>
                        </div>
                        <div class="item-content"  [hidden]="!item.recommended">
                            <label class="label">Reason</label>
                            <span>{{item.reason}}</span>
                        </div>
                        <div class="item-content" [hidden]="!item.recommended">
                            <label class="label" >Suggestion &nbsp; <i style="cursor:pointer;color: rgb(255, 204, 0);" class="fa-solid fa-circle-exclamation" (click)="showMessage(item)" [hidden]="!item.recommended"></i></label>
                            <span>{{item.suggestion}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gantt-container" style="flex: 3;">
        <!-- <div class="gantt" [data]='pendingList'></div>
         -->
         <app-chart [data]='pendingList'></app-chart>
    </div>
</div>